<<<<<<< HEAD
<<<<<<< HEAD
#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center/cover no-repeat border-box,
    #ff1b68;
  /* background-image: url("freedom.jpg");
    background-size: cover;
    background-position: left 10% bottom 20%; */
  /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
  /* background-image: linear-gradient(180deg, red 70%, blue 60%, rgba(0,0,0,0.5)); */
  /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%, red, blue 70%, green); */
  width: 100vw;
  height: 33vh;
  /* border: 5px dashed red; */
  position: relative;
=======
* {
    box-sizing: border-box;
>>>>>>> parent of bc2b792... Adding Flexbox
}

body {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
}
=======
>>>>>>> bb028f5b1b739dc04ed787fb43646de0e0cb1bfd

#product-overview{
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: whitesmoke;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    text-align: center;
  }
=======
.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
>>>>>>> parent of bc2b792... Adding Flexbox

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

=======
>>>>>>> bb028f5b1b739dc04ed787fb43646de0e0cb1bfd
#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

<<<<<<< HEAD
.key-feature__list {
<<<<<<< HEAD
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
=======
.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
>>>>>>> parent of bc2b792... Adding Flexbox
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
} 

.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav_item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

<<<<<<< HEAD
.modal__action--negative {
  background: red;
  border-color: red;
=======
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
>>>>>>> bb028f5b1b739dc04ed787fb43646de0e0cb1bfd
=======
.main-nav_item--cta a:hover,
.main-nav_item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
>>>>>>> parent of bc2b792... Adding Flexbox
}

